---
title: Welcome to VR
---
<div id="ui">
  <h1>WebVR UI Basic Example</h1>
  <p>Example showing how to enter VR and without headset</p>

  <div id="button"></div>

  <div id="help">
    <a id="noVr" href="#" >Try it without a headset</a>
    <span id="learn-more">
      or <a href="https://webvr.info" target="_blank">get set up in VR.</a>
    </span>

  </div>
</div>
<a href="#" id="exit" onclick="enterVR.requestExit()">✕</a>